
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}

.userDetails {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);
}

.userDetails .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.userDetails .box {
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 4px #0000003b;
  border-radius: 10px;
  position: relative;
}

.userDetails .box img {
  position: absolute;
  right: -10px;
  top: -45px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 10px solid var(--section-background);
}
.userDetails .box a {
margin-top: 20px;

  font-size: 20px;
  font-weight: bold;
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: 6px;
  width: fit-content;
  transition: var(--main-transition);
}


.userDetails .box h3 {
  margin: 0 0 10px;
}

.userDetails .box .title {
  color: #777;
  margin-bottom: 12px;
  display: block;
}

.userDetails .box .rate .filled {
  color: gold;
}

.userDetails .box p {
  line-height: 1.5;
  color: dimgray;
  margin-top: 10px;
}
.userDetails .box a {
  color: #009688;
  border-color: #009688;
  background: linear-gradient(to right, #009688 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}


.userDetails .box:hover a {
  background-position: left bottom;
  color: white;
}

/* End userDetails */

