/* .box {
  width: 90%;
  margin: 100px auto;
  height: 500px;
}

ul li{
  font-size: 22px;
  margin:25px 0;
}
.box img{
  width: 100%;
  max-width: 500px;
  max-height: 500px;
} */

/* start features */
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}
/* start features */
/* .features {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: white;
} */

/* .features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
} */

/* .features .box {
  text-align: center;
  border: 1px solid #ccc;
}

.features .box .img-holder {
  position: relative;
  overflow: hidden;
} */

/* .features .box .img-holder::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.068);
} */

/* .features .box .img-holder::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 100px 100px 100px 500px;
  border-color: transparent transparent white transparent;
  transition: var(--main-transition);
} */

/* .features .box .img-holder img {
  max-width: 100%;
} */

/* .features .box:hover .img-holder::after {
  border-width: 100px 500px 100px 0;
} */
/*
.features .box h2 {
  position: relative;
  font-size: 40px;
  margin: auto;
  width: fit-content;
}

.features .box h2::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 15px;
  height: 4px;
  width: calc(100% - 30px);
}

.features .box p {
  line-height: 2;
  font-size: 20px;
  margin: 30px 0;
  padding: 25px;
  color: #555;
}

.features .box a {
  display: block;
  margin: 0 auto 30px;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 25px;
  border: 3px solid transparent;
  border-radius: 6px;
  width: fit-content;
  transition: var(--main-transition);
}

/* class number 2 */
/* .features .Quality .img-holder::before {
  background-color: #f43f363f;
}

.features .Quality h2::after {
  background-color: #f44036;
}

.features .Quality a {
  color: #f44036;
  border-color: #f44036;
  background: linear-gradient(to right, #f44036 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .box:hover a {
  background-position: left bottom;
  color: white;
}

 */

/* start userDetails */
.userDetails {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);
}

.userDetails .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.userDetails .box {
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 4px #0000003b;
  border-radius: 10px;
  position: relative;
}

.userDetails .box img {
  position: absolute;
  right: -10px;
  top: -45px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 10px solid var(--section-background);
}
.userDetails .box a {
margin-top: 20px;

  font-size: 20px;
  font-weight: bold;
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: 6px;
  width: fit-content;
  transition: var(--main-transition);
}


.userDetails .box h3 {
  margin: 0 0 10px;
}

.userDetails .box .title {
  color: #777;
  margin-bottom: 12px;
  display: block;
}

.userDetails .box .rate .filled {
  color: gold;
}

.userDetails .box p {
  line-height: 1.5;
  color: dimgray;
  margin-top: 10px;
}
.userDetails .box a {
  color: #009688;
  border-color: #009688;
  background: linear-gradient(to right, #009688 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}


.userDetails .box:hover a {
  background-position: left bottom;
  color: white;
}

/* End userDetails */

