<!-- <div class="container">
  <div *ngIf="isLoading" class="loading-bar">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div> -->
  <!-- <div class="user-list">
    <mat-grid-list cols="3" rowHeight="1:1">
      <mat-grid-tile *ngFor="let user of users" [@fadeIn] (click)="selectUser(user)">
        <mat-card>
          <img mat-card-avatar [src]="user.avatar">
          <mat-card-title>{{ user.first_name }} {{ user.last_name }}</mat-card-title>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-paginator [length]="totalUsers" [pageSize]="1" (page)="onPageChange($event)"></mat-paginator>
  </div> -->
  <!-- <div class="mt-3">



  </div> -->

<!-- </div> -->
<!-- <div class="row" *ngIf="!isLoading">
  <div *ngFor="let item of users"[@fadeIn]  >
    <app-user [data]="item" ></app-user>
  </div>
</div> -->
<div class="team" id="team">

  <div class="container mt-4">
    <div class="box" *ngFor="let item of users"[@fadeIn] routerLink="/user/{{item.id}}">
      <div class="data">
        <img [src]="item.avatar" alt="" />
        <div class="social">
          <a href="#">
            <i class="fa fa-brands fa-facebook-f"></i>
          </a>
          <a href="#">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fa fa-brands fa-linkedin"></i>
          </a>
          <a href="#">
            <i class="fa fa-youtube"></i>
          </a>
        </div>
      </div>
      <div class="info">
        <h3 style="padding:10px">{{ item.first_name }} {{ item.last_name }}</h3>
        <p >Simple Short Description</p>

      </div>
    </div>
  </div>
  <mat-paginator  [length]="12" [pageSize]="totalUsers"(page)="onPageChange($event)"></mat-paginator>
</div>
