<!-- <div class="item"> -->
<!-- <div routerLink="/user/{{data.id}}">
      <img [src]="data.avatar" alt="" />
      <div class="body">
        <h4>{{ data.first_name }}{{ data.last_name }}</h4>

      </div>
    </div> -->
<!-- <div class="px-3 mb-2 d-flex justify-content-between align-item-center">
        <button class="btn btn-success" *ngIf="!addbutton" (click)="addbutton=true">Add to Cart</button>
        <div class="d-flex  w-50" *ngIf="addbutton">
          <input type="number" class="form-control"
          [(ngModel)]="amount">
          <button class="btn btn-danger" (click)="add();addbutton=false">Add</button>
        </div>
        <span>{{ data.price }}</span>
      </div> -->
<!-- </div> -->

